{% extends "base.html" %}
{% block title %}About - Shortly{% endblock %}
{% block content %}
<section class="py-5 text-center">
  <div class="container">
    <h2 class="fw-bold mb-4">About Shortly</h2>
    <p class="lead mx-auto" style="max-width:700px;">
      Shortly is a modern, lightweight URL shortener built using FastAPI and Redis. 
      It allows you to shorten, manage, and track links effortlessly — inspired by Bitly, made by Sameer.
    </p>
  </div>
</section>
{% endblock %}
