{% extends "base.html" %}
{% block title %}About - Shortify{% endblock %}

{% block content %}
<div class="container text-center">
  <h2 class="fw-bold mb-4">About Shortify 🔗</h2>
  <p class="text-muted mb-5">
    Shortify is a modern URL shortener built with <strong>FastAPI</strong> and <strong>Upstash Redis</strong>,
    designed for speed, simplicity, and scalability.
  </p>

  <p>Our goal is to make link management beautiful, efficient, and privacy-first.</p>
</div>
{% endblock %}
