<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth | Shortify</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
</head>

<body>
  <div class="auth-container">
    <div class="auth-left">
      <div class="auth-card">
        <img src="{{url_for('static', path='img/icon.png')}}" alt="Logo" class="auth-logo" />

        <h2 id="form-title">Login</h2>
        <p id="form-subtitle">Sign In to Your Account</p>

        <div class="auth-toggle">
          <button id="loginBtn" class="active">Login</button>
          <button id="signupBtn">Signup</button>
        </div>

        <!-- Login Form -->
        <form id="loginForm">
          <div class="auth-input">
            <label>Email/Username</label>
            <input type="text" name="username" required />
          </div>
          <div class="auth-input">
            <label>Password</label>
            <input type="password" name="password" required />
          </div>

          <div class="auth-options">
            <label><input type="checkbox" /> Remember Me</label>
            <a href="#">Forgot Password?</a>
          </div>

          <button class="auth-btn">Login</button>
        </form>

        <!-- Signup Form -->
        <form id="signupForm" style="display: none;">
          <div class="auth-input">
            <label>Full Name</label>
            <input type="text" required />
          </div>
          <div class="auth-input">
            <label>Email</label>
            <input type="email" required />
          </div>
          <div class="auth-input">
            <label>Password</label>
            <input type="password" required />
          </div>
          <div class="auth-input">
            <label>Confirm Password</label>
            <input type="password" required />
          </div>

          <button class="auth-btn">Signup</button>
        </form>

        <div class="auth-divider">or login using</div>

        <div class="google-login">
          <a href="/auth/google">
            <img src="{{url_for('static', path='icons/google.svg') }}" alt="Google" />
          </a>
        </div>

        <p class="auth-terms">By continuing, you agree to our <a href="#">Terms</a></p>
      </div>
    </div>

    <div class="auth-right"></div>
  </div>


  <script>
    const loginBtn = document.getElementById("loginBtn");
    const signupBtn = document.getElementById("signupBtn");
    const loginForm = document.getElementById("loginForm");
    const signupForm = document.getElementById("signupForm");
    const title = document.getElementById("form-title");
    const subtitle = document.getElementById("form-subtitle");

    loginBtn.onclick = () => {
      loginForm.style.display = "block";
      signupForm.style.display = "none";
      loginBtn.classList.add("active");
      signupBtn.classList.remove("active");
      title.textContent = "Login";
      subtitle.textContent = "Sign In to Your Account";
    };

    signupBtn.onclick = () => {
      signupForm.style.display = "block";
      loginForm.style.display = "none";
      signupBtn.classList.add("active");
      loginBtn.classList.remove("active");
      title.textContent = "Signup";
      subtitle.textContent = "Create a New Account";
    };

  </script>
</body>

</html>