<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
</head>
<body class="min-h-screen bg-[#0f172a] text-white">
  {% block content %}{% endblock %}
</body>
</html>
